<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<br><br>

<div class="container-sm">

<h1>Contact Information</h1>
<br>
    <form action="mailto:venzonariola@yahoo.com" method="post">
                <fieldset>
                    <p>
                        <label for="txtfName">Full Name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;</label>
                        <input id="txtfName" name="txtfName" size="50" type="text" required="required" tabindex="1">
                    </p>
                    <p>
                        <label for="txtEmail">Email: &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;</label>
                        <input id="txtInstructorName" name="txtInstructorName" size="50" type="email" required="required" tabindex="3">
                    </p>
                    <p>
                        <label for="txtPhone">Phone number:&nbsp;</label>
                        <input type = "tel" required="Yes" tabindex="5"> 
                               
                         
                    </p>
                </fieldset>
                <p>
                        <label for="txtInquiry">Inquiry:&nbsp;</label>
                        <textarea id="txtOther" name="txtOther" cols="80" rows="3" tabindex="15" placeholder="---Type your inquiry here---"></textarea>
                    </p>
                    <p>
                        <input name="btnSubmit" type="submit" value="Submit Inquiry" tabindex="17">
                        <input type="reset" name="btnrReset" value="Reset Form" tabindex="19">
                    </p><br>            
</div>


<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>