<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content Section-->
  <main class="container">
    <div class="jumbotron">
      
      <br><br>
      <h1>Mission Statement:</h1>
      <br>
        
      <p class="fs-3">
        <b>VA Tech Experts</b> mission is to help tech developers enhance web application, software application, and software engineering projects that is suitable for their needs with the utmost satisfaction. 
      </p>

      <br><br>
      <img src="./Assets/images/homeimage.jpg" class="img-fluid" alt="...">

      



    </div>
  </main>  
  

<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>




